* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



td {
  border: 1px solid rgba(0, 0, 0, 0.525);
  padding: 10px;
  text-align: center;
}

span {
  padding: 10px;
  font-weight: bold;
}

.centered {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}